defaults: &defaults
  max_export_records_count: 1000
  signin_url: /signin
  root_prefix: /liza
  start_year: 2021
  default_url_options: &default_url_options
    protocol: <%= ENV.fetch('HTTP_PROTOCOL', 'https') %>
    host: <%= ENV.fetch('LIZA_HOST', 'localhost') %>

  peatio_api_url: https://market.bitzlato.bz/api/v2/peatio
  barong_api_url: https://market.bitzlato.bz/api/v2/barong
  dropdown_links:
    liza: /liza
    valera: /valera
    rabbitmq: /rabbitmq
    grafana: /grafana
    tower: /tower
development:
  <<: *defaults
staging:
  max_export_records_count: 2000
  <<: *defaults
  peatio_api_url: https://dev.bitzlato.bz/api/v2/peatio
  barong_api_url: https://dev.bitzlato.bz/api/v2/barong
production:
  max_export_records_count: 2000
  <<: *defaults
test:
  <<: *defaults
